APP_URL=http://localhost:3000
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:3000/api/auth/callback/twitch
DATABASE_URL=file:./dev.db
AUTH_SECRET=
REDIS_URL=
INLINE_REFRESH_JOBS=true
TWITCH_MAX_CRAWL_PAGES=0
